<html>
    <head>
        <title>devetec's land</title>
    </head>

    <body>
        <h1>
			<a href="/">
				devetec's land
			</a>
        </h1>
        <h4>
			<a href="/posts">
				posts
			</a>
        </h4>
		<h4>
			<a href="/bout">
				'bout
			</a>
        </h4>
        {{ content | safe }}
    </body>
</html>